.is-center {
  text-align: center;
}

p.is-primary, label.is-primary {
  color: $primary;
}

p.is-secondary, label.is-secondary {
  color: $secondary;
}

.is-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
