.daily__main-content {
  display: flex;
}

.daily__sidebar {
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px 0 10px;
  width: 350px;
}

.daily__sidebar-header {
  display: flex;
  margin: 0.5em 0 0.5em 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  
  button {
    background-color: transparent;
    border: 0 solid transparent;
    cursor: pointer;
    font-size: 1.5em;
    color: darken($color: $white, $amount: 20);
    
    &:hover {
      color: $white;
    }

  }

}

.daily__sidebat-entry {
  width: 95%;
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: transparent;
  border: 0 solid transparent;
  outline: none;
  cursor: pointer;

  transition: background-color .3s ease;
  
  &:hover {
    background-color: darken($color: $primary, $amount: 5);
  }

}

.daily__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: auto;
}

.daily__entry {
  background-color: $white;
  border-radius: 4px;
  color: $primary_shadow;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.daily__entry-picture {
  height: 75px;
  width: 75px;
}

.daily__entry-body {
  padding: 10px;
}
.daily__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.daily__entry-content {
  font-size: 10px;
}

.daily__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;

  span {

  }

}

