.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 20px 0 20px;
  color: $white;
}

.notes__form-group {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  height: 80%;
}

.notes_main-main {
  height: 80%;
}

.form-control_title {
  margin-bottom: 1em;
  height: 30px;
  font-size: 1.5em;
  font-weight: 700;
  color: $shadow;
  border: none;
  padding: 0 .5em .5em .5em;
  
  transition: border .5s ease;

  &:focus {
    outline: none;
  }
}

.form-control_textarea {
  border-top: none;
  border-bottom: 1px solid $secondary;
  border-left: 1px solid $secondary;
  border-right: 1px solid $secondary;
  flex: 1 1 auto;
  font-size: 1.2em;
  resize: none;
  padding: 0 .5em .5em .5em;
  

  &:focus {
    outline: none;
  }
}

