.fz-0_1 { font-size: 0.1em; }
.fz-0_2 { font-size: 0.2em; }
.fz-0_3 { font-size: 0.3em; }
.fz-0_4 { font-size: 0.4em; }
.fz-0_5 { font-size: 0.5em; }
.fz-0_6 { font-size: 0.6em; }
.fz-0_7 { font-size: 0.7em; }
.fz-0_8 { font-size: 0.8em; }
.fz-0_9 { font-size: 0.9em; }
.fz-1   { font-size: 1em;   }

.fz-1_1 { font-size: 1.1em; }
.fz-1_2 { font-size: 1.2em; }
.fz-1_3 { font-size: 1.3em; }
.fz-1_4 { font-size: 1.4em; }
.fz-1_5 { font-size: 1.5em; }
.fz-1_6 { font-size: 1.6em; }
.fz-1_7 { font-size: 1.7em; }
.fz-1_8 { font-size: 1.8em; }
.fz-1_9 { font-size: 1.9em; }
.fz-2   { font-size: 2em;   }

.fz-2_1 { font-size: 2.1em; }
.fz-2_2 { font-size: 2.2em; }
.fz-2_3 { font-size: 2.3em; }
.fz-2_4 { font-size: 2.4em; }
.fz-2_5 { font-size: 2.5em; }
.fz-2_6 { font-size: 2.6em; }
.fz-2_7 { font-size: 2.7em; }
.fz-2_8 { font-size: 2.8em; }
.fz-2_9 { font-size: 2.9em; }
.fz-3   { font-size: 3em;   }

