.p-1 { padding: .25em !important;  }
.p-2 { padding: .5em !important;   }
.p-3 { padding: .75em !important;  }
.p-4 { padding: 1em !important;    }
.p-5 { padding: 1.25em !important; }
.p-6 { padding: 1.5em !important;  }
.p-7 { padding: 1.75em !important; }
.p-8 { padding: 2em !important;    }

.pt-1 { padding-top: .25em !important;  }
.pt-2 { padding-top: .5em !important;   }
.pt-3 { padding-top: .75em !important;  }
.pt-4 { padding-top: 1em !important;    }
.pt-5 { padding-top: 1.25em !important; }
.pt-6 { padding-top: 1.5em !important;  }
.pt-7 { padding-top: 1.75em !important; }
.pt-8 { padding-top: 2em !important;    }

.pb-1 { padding-bottom: .25em !important;  }
.pb-2 { padding-bottom: .5em !important;   }
.pb-3 { padding-bottom: .75em !important;  }
.pb-4 { padding-bottom: 1em !important;    }
.pb-5 { padding-bottom: 1.25em !important; }
.pb-6 { padding-bottom: 1.5em !important;  }
.pb-7 { padding-bottom: 1.75em !important; }
.pb-8 { padding-bottom: 2em !important;    }

.pl-1 { padding-left: .25em !important;  }
.pl-2 { padding-left: .5em !important;   }
.pl-3 { padding-left: .75em !important;  }
.pl-4 { padding-left: 1em !important;    }
.pl-5 { padding-left: 1.25em !important; }
.pl-6 { padding-left: 1.5em !important;  }
.pl-7 { padding-left: 1.75em !important; }
.pl-8 { padding-left: 2em !important;    }

.pr-1 { padding-right: .25em !important;  }
.pr-2 { padding-right: .5em !important;   }
.pr-3 { padding-right: .75em !important;  }
.pr-4 { padding-right: 1em !important;    }
.pr-5 { padding-right: 1.25em !important; }
.pr-6 { padding-right: 1.5em !important;  }
.pr-7 { padding-right: 1.75em !important; }
.pr-8 { padding-right: 2em !important;    }

.py-1 { padding-right: .25em !important;  padding-left: .25em !important;  }
.py-2 { padding-right: .5em !important;   padding-left: .5em !important;   }
.py-3 { padding-right: .75em !important;  padding-left: .75em !important;  }
.py-4 { padding-right: 1em !important;    padding-left: 1em !important;    }
.py-5 { padding-right: 1.25em !important; padding-left: 1.25em !important; }
.py-6 { padding-right: 1.5em !important;  padding-left: 1.5em !important;  }
.py-7 { padding-right: 1.75em !important; padding-left: 1.75em !important; }
.py-8 { padding-right: 2em !important;    padding-left: 2em !important;    }

.px-1 { padding-bottom: .25em !important;  padding-top: .25em !important;  }
.px-2 { padding-bottom: .5em !important;   padding-top: .5em !important;   }
.px-3 { padding-bottom: .75em !important;  padding-top: .75em !important;  }
.px-4 { padding-bottom: 1em !important;    padding-top: 1em !important;    }
.px-5 { padding-bottom: 1.25em !important; padding-top: 1.25em !important; }
.px-6 { padding-bottom: 1.5em !important;  padding-top: 1.5em !important;  }
.px-7 { padding-bottom: 1.75em !important; padding-top: 1.75em !important; }
.px-8 { padding-bottom: 2em !important;    padding-top: 2em !important;    }

